.build_table{
    border: 1px solid blue;
    width: 500px;
}

.build_table td{
    border: 1px solid blue;
}

.search_table{
    border: 1px solid blue;
    width: 500px;
}

.search_table td{
    border: 1px solid blue;
}

.select{
    width:200px;
    height:25px;
}

.button{
    width:100px;
    height:25px;
}