table{
    border-right: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
    margin-top: 20px;
}

table td,th{
    border-left: 1px solid #FFFFFF;
    border-top: 1px solid #FFFFFF;
    padding:4px;
}

.build_table{
    border-color: blue;
    width: 500px;
}

.build_table td{
    border-color: blue;
}

.search_table{
    border-color: blue;
    width: 700px;
}

.search_table td{
    border-color: blue;
}

.result_table{
    border-color: green;
    width: 700px;
}

.result_table td,th{
    border-color: green;
}

.select{
    width:200px;
    height:25px;
}

.button{
    width:100px;
    height:25px;
}